{% extends 'base.html' %} <!--base.html 불러오는 태그-->

{% block contents %}  <!--이 아래부터 base의 컨텐츠가 될 내용이다-->
<br>

{% for blog in posts %} <!--blogs.all은 전체 블로그 글을 대상으로 반복 시행-->
                        <!--posts는 한 페이지(블로그 글 3개)를 대상으로 반복 시행-->
<div class="container">
    <div class="card">
    <div class="card-body">
    <h1 class="card-title">id: {{blog.id}}</h1>
    <h1 class="card-title">제목: {{blog.title}}</h1>
    <p class="card-subtitle mb-2 text-muted">날짜: {{blog.pub_date}}</p>
    <p class="card-text">본문 미리보기: {{blog.summary}}<a href="{%url 'detail' blog.id%}">...more</a></p>
    </div>
    </div>
    <br><br>
    </div>
{% endfor %}    
   

{# 바 만들기 #}
<div class="container">


<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-secondary">{{posts.number}}</button>
    <button type="button" class="btn btn-secondary">of</button>
    <button type="button" class="btn btn-secondary">{{posts.paginator.num_pages}}</button>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            페이지 이동
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="?page={{posts.paginator.num_pages}}">맨 뒤로</a>
            <a class="dropdown-item" href="?page=1">맨 앞으로</a>            
            {% if posts.has_previous %} 
                <a class="dropdown-item" href="?page={{posts.previous_page_number}}">이전 페이지</a>
            {% endif %}           
            {% if posts.has_next %}
                <a class="dropdown-item" href="?page={{posts.next_page_number}}">다음 페이지</a>
            {% endif %}                   
        </div>
    </div>
</div>
<br><br>

{%endblock%}

<!--
{% if posts.has_previous %} {# 이전 페이지가 있다면 아래 코드를 실행해라 #}
<a href="?page=1">First</a> 
<a href="?page={{posts.previous_page_number}}">Previous</a> {# 지금 보는 페이지(post)의 이전 페이지로 #}
{% endif %}

{# 3 of 4 이런 식으로 뜸 #}
<span>{{posts.number}}</span> {# 내가 지금 보는 post의 번호 #}
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>


{% if posts.has_next %} {# 다음 페이지가 있다면 아래 코드를 실행해라 #}
<a href="?page={{posts.next_page_number}}">Next</a> {# post의 다음 페이지로 가라 #}
<a href="?page={{posts.paginator.num_pages}}">Last</a> {# 전체 페이지 수를 반환해줌 -> post의 마지막 페이지로 가라 #}
{% endif %}

<br><br>
</div>

-->


